/* ==========================
   GLOBAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;

    background:
    radial-gradient(circle at top left,
    rgba(255,0,0,.08),
    transparent 40%),

    radial-gradient(circle at bottom right,
    rgba(255,30,30,.06),
    transparent 45%),

    #050505;

    color:#f5f5f5;

    line-height:1.6;

    overflow-x:hidden;

    position:relative;
}

.container{

    width:90%;

    max-width:1200px;

    margin:auto;

}

:root{
    --bg:#050505;
    --card:#111111;
    --card2:#181818;

    --red:#ff2d2d;
    --red2:#ff5555;

    --text:#f5f5f5;
    --gray:#b9b9b9;
}

/* ==========================
NAVBAR
========================== */

header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:rgba(0,0,0,.75);

    backdrop-filter:blur(16px);

    border-bottom:1px solid rgba(255,45,45,.25);

    z-index:999;

    box-shadow:0 5px 20px rgba(0,0,0,.3);

}

.nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    font-size:32px;

    font-weight:800;

}

.logo span{

    color:#ff3131;

}

nav ul{

    display:flex;

    list-style:none;

}

nav li{

    margin-left:35px;

}

nav a{

    text-decoration:none;

    color:white;

    transition:.3s;

}

nav a:hover{

    color:var(--red);

}

/* ==========================
HERO
========================== */

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

}

.hero-content{

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:center;

    gap:60px;

}

.hero-left h4{

    color:var(--red2);

    font-size:22px;

}

.hero-left h1{

    font-size:70px;

    margin:10px 0;

}

.hero-left h2{

    color:var(--red2);

    margin-bottom:20px;

}

.hero-left p{

    color:#cbd5e1;

    max-width:520px;

}

.buttons{

    margin-top:35px;

}

.btn{

    display:inline-block;

    background:linear-gradient(90deg,#ff1f1f,#b30000);

    box-shadow:0 0 25px rgba(255,40,40,.25);

    color:white;

    text-decoration:none;

    padding:14px 28px;

    border-radius:10px;

    margin-right:15px;

    transition:.3s;

}

.btn:hover{

    transform:translateY(-4px) scale(1.03);

    box-shadow:0 0 35px rgba(255,40,40,.5);

}

.btn-outline{

    display:inline-block;

    border:2px solid var(--red);

    color:white;

    text-decoration:none;

    padding:14px 28px;

    border-radius:10px;

    transition:.3s;

}

.btn-outline:hover{

    background:var(--red);

}

.profile-card{

    width:280px;

    height:280px;

    border-radius:50%;

    object-fit: cover;

    object-position:center top;

    overflow:hidden;

    margin:auto;

    border:6px solid #ff3131;

    box-shadow:0 0 55px rgba(255,40,40,.45);

    transition:.4s;

}

.profile-card:hover{

transform:scale(1.03);

box-shadow:

0 0 30px rgba(255,0,0,.4),

0 0 80px rgba(255,0,0,.25);

}


.profile-card img{

    width:100%;

    height:100%;

    object-fit:cover;

}

/* ==========================
SECTION
========================== */

section{

    padding:120px 0;

}

.section-title{

    text-align:center;

    font-size:40px;

    margin-bottom:60px;

    color:#ff5555;

}

/* ==========================
ABOUT
========================== */

.about-grid{

    display:grid;

    grid-template-columns:2fr 1fr;

    gap:40px;

}

.about-content{

    display:flex;

    flex-direction:column;

    gap:35px;

}

.about-text{

    color:#cbd5e1;

    font-size:18px;

    line-height:1.9;

}

.about-highlights{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}

.highlight{
    animation:fadeUp .8s ease;

    background:rgba(20,20,20,.72);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,70,70,.12);

    border-radius:18px;

    padding:24px;

    transition:.35s;

    overflow:hidden;

    position:relative;

    cursor:default;

}

.highlight::before{

content:"";

position:absolute;

left:-50%;

top:-50%;

width:200%;

height:200%;

background:radial-gradient(

circle,

rgba(255,40,40,.12),

transparent 60%

);

transform:rotate(25deg);

pointer-events:none;

}

.highlight:hover{

    transform:translateY(-8px)

    scale(1.02);

    border-color:#ff3131;

    box-shadow:

        0 0 30px rgba(255,40,40,.18),

        0 0 70px rgba(255,40,40,.12);

}

.highlight h4{

    font-size:22px;

    color:#ff4040;

    margin-bottom:15px;

}

.highlight p{

    color:#d7d7d7;

    font-size:16px;

    line-height:1.7;

}

.about-grid p{

    color:#d1d5db;

}

.info-box{

    
    background:

    linear-gradient(

    180deg,

    rgba(22,22,22,.92),

    rgba(12,12,12,.88)

);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,55,55,.15);

    border-radius:20px;

    padding:35px;

    position:relative;

    overflow:hidden;

    transition:.35s;

}


.info-box::before{

content:"";

position:absolute;

width:250px;

height:250px;

background:radial-gradient(circle,
rgba(255,40,40,.18),
transparent 70%);

top:-120px;

right:-120px;

transition:.5s;

}

.info-box:hover{

transform:translateY(-8px);

border-color:#ff3131;

box-shadow:

0 0 25px rgba(255,40,40,.18),

0 0 60px rgba(255,40,40,.12);

}

.info-box:hover::before{

transform:scale(1.25);

}


.info-box h3{

    font-size:26px;

    color:#ff4040;

    margin-bottom:25px;

}

.info-box ul{

    list-style:none;

}

.info-box li{

padding:14px 0;

border-bottom:1px solid rgba(255,255,255,.06);

color:#e5e5e5;

transition:.3s;

}

.info-box li:last-child{

border:none;

}

.info-box li:hover{

padding-left:10px;

color:#ff5555;

}

/* ==========================
SKILLS
========================== */

.skill{

    margin-bottom:30px;

}

.skill p{

    margin-bottom:10px;

}

.bar{
    width:100%;
    height:12px;

    background:#141414;      /* phần chưa đạt */

    border:1px solid #262626;

    border-radius:20px;

    overflow:hidden;

    box-shadow:inset 0 0 10px rgba(0,0,0,.6);
}

.progress{

    position:relative;

    overflow:hidden;

    height:100%;

    border-radius:20px;

    animation:load 2s ease;

    background:linear-gradient(
        90deg,
        #ff1d25,
        #ff3b3b,
        #ff5b5b
    );

       box-shadow:
        inset 0 0 8px rgba(0,0,0,.6),
        0 0 10px rgba(255,40,40,.25);

}

.progress::after{

    content:"";

    position:absolute;

    top:-3px;
    left:-150px;

    width:140px;
    height:18px;

    background:linear-gradient(
        90deg,
        transparent,
        #ff2d2d,
        #ff6666,
        #ff2d2d,
        transparent
    );

    border-radius:20px;

    filter:blur(6px);

    opacity:.95;

    transform:skewX(-25deg);

    animation:shine 2.6s linear infinite;
}


.verilog{

    width:90%;

}

.sv{

    width:50%;

}

.cpp{

    width:75%;

}

.python{

    width:70%;

}

.git{

    width:60%;

}

/* ==========================
PROJECT
========================== */

.project-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.card{

background:rgba(20,20,20,.82);

backdrop-filter:blur(18px);

border:1px solid rgba(255,55,55,.1);

border-radius:22px;

padding:35px;

overflow:hidden;

position:relative;

transition:.35s;

cursor:pointer;

}

.card::before{

content:"";

position:absolute;

width:280px;

height:280px;

background:radial-gradient(circle,
rgba(255,50,50,.15),
transparent 70%);

top:-150px;

right:-150px;

transition:.45s;

}

.card::after{

content:"";

position:absolute;

inset:0;

background:linear-gradient(
180deg,
transparent,
rgba(255,0,0,.03)
);

pointer-events:none;

}


.card:hover{

transform:

translateY(-10px) scale(1.02);

border-color:#ff3131;

box-shadow:

0 0 35px rgba(255,40,40,.18),

0 0 70px rgba(255,40,40,.12);

}

.card:hover::before{

transform:scale(1.3);

}

.card h3{

    font-size:24px;

    margin-bottom:20px;

    color:white;

}

.card p{

    color:#c5c5c5;

    line-height:1.8;

    margin-bottom:30px;


}

.card a{

display:inline-flex;

align-items:center;

gap:10px;

color:#ff4d4d;

font-weight:600;

text-decoration:none;

transition:.3s;

}

.card a:hover{

letter-spacing:1px;

color:white;

}

.project-tags{

display:flex;

flex-wrap:wrap;

gap:10px;

margin-bottom:22px;

}

.project-tags span{

padding:6px 14px;

background:rgba(255,40,40,.12);

border:1px solid rgba(255,40,40,.25);

border-radius:30px;

font-size:13px;

color:#ff6666;

}

/* ==========================
FOOTER
========================== */

footer{

    background:

    linear-gradient(
    180deg,
    #080808,
    #050505
);

    padding:80px 0;

}

ter-line{

    width:100%;

    height:1px;

    background:#334155;

    margin:30px 0;

}

footer h2{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;

}

.contact-grid{

    display:grid;

    grid-template-columns:1fr 1px 1fr;

    gap:40px;

    align-items:center;

}

.contact-info{

    text-align:left;

}

.contact-info p{

    margin:16px 0;

    color:#cbd5e1;

    font-size:18px;

}

.contact-info i{

    color:#ff5555;

    width:25px;

}

.vertical-line{

    width:1px;

    height:140px;

    background:#334155;

}

.footer-time{

    text-align:left;

}

.footer-time p{

    margin:16px 0;

    color:#cbd5e1;

    font-family:monospace;

    font-size:18px;

}

.social-icons{

    display:flex;

    justify-content:center;

    gap:35px;

    margin-top:60px;

}

.social-icons a{

    color:white;

    font-size:28px;

    transition:.3s;

}

.social-icons a:hover{

    color:#ff3131;

    transform:translateY(-5px);

}

.copyright{

    text-align:center;

    color:#94a3b8;

    margin-top:35px;

}

/* ==========================
RESPONSIVE
========================== */

@media(max-width:900px){

.hero-content{

grid-template-columns:1fr;

text-align:center;

}

.profile-card{

width:280px;

height:280px;

}

.about-grid{

grid-template-columns:1fr;

}

.about-highlights{

    grid-template-columns:1fr;

}

.hero-left h1{

font-size:48px;

}

nav{

display:none;

}

/* CONTACT */

.contact-grid{

    grid-template-columns:1fr;
    gap:30px;

}

.contact-info{

    text-align:center;

}

.footer-time{

    text-align:right;

}

.vertical-line{

    width:80%;
    height:1px;
    margin:auto;

}

.social-icons{

    gap:20px;

}
}

/* ==========================
BACKGROUND
========================== */

.aurora{

position:fixed;

inset:0;

z-index:-2;

overflow:hidden;

pointer-events:none;

}

.aurora span{

position:absolute;

width:900px;

height:900px;

border-radius:50%;

filter:blur(150px);

opacity:.65;

animation:move 25s infinite alternate ease-in-out;

}

.aurora span:nth-child(1){

background:#ff2020;

left:-250px;

top:-200px;

}

.aurora span:nth-child(2){

background:#7a0000;

right:-250px;

bottom:-200px;

animation-duration:30s;

}

.aurora span:nth-child(3){

background:#ff4d4d;

left:30%;

top:35%;

animation-duration:40s;

}

@keyframes move{

0%{

transform:translate(0,0) scale(1);

}

100%{

transform:translate(250px,-120px) scale(1.3);

}

}

@keyframes load{

from{

    width:0;

}

to{   
}

}

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes shine{

0%{
    left:-120px;
}

100%{
    left:calc(100% + 120px);
}

}

.particles{

position:fixed;

inset:0;

pointer-events:none;

z-index:-1;

overflow:hidden;

}

.particles span{

position:absolute;

width:3px;

height:3px;

background:#ff5555;

border-radius:50%;

box-shadow:

0 0 8px #ff4444,

0 0 18px #ff0000,

0 0 30px rgba(255,0,0,.4);

animation:float 20s linear infinite;

}

.particles span:nth-child(1){left:8%;animation-delay:0s;}
.particles span:nth-child(2){left:18%;animation-delay:2s;}
.particles span:nth-child(3){left:28%;animation-delay:4s;}
.particles span:nth-child(4){left:38%;animation-delay:6s;}
.particles span:nth-child(5){left:48%;animation-delay:8s;}
.particles span:nth-child(6){left:58%;animation-delay:10s;}
.particles span:nth-child(7){left:68%;animation-delay:12s;}
.particles span:nth-child(8){left:78%;animation-delay:14s;}
.particles span:nth-child(9){left:88%;animation-delay:16s;}
.particles span:nth-child(10){left:95%;animation-delay:18s;}

@keyframes float{

0%{

transform:translateY(110vh) scale(.5);

opacity:0;

}

20%{

opacity:1;

}

80%{

opacity:1;

}

100%{

transform:translateY(-20vh) scale(1.3);

opacity:0;

}

}


